<!-- your html code here -->

<div class="container-fluid bg-black" id="menu">
  <!--Primera fila-->
  

  <div class="d-flex col-12">
    <div class="card col-4 bg-black">
      <div class="card border-0">
        <img
          src="https://img.freepik.com/fotos-premium/foto-hamburguesa-restaurante_7023-255674.jpg?w=2000"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body bg-black text-white">
          <h5 class="card-title d-flex justify-content-center"><strong>BBQ RODEO BURGER</strong></h5>
          <p class="fs-6 fw-lighter">
            Double Natural Angus Beef, Charred Jalapeños, Pepper Jack Cheese,
            Crispy Haystack Onions, Memphis Sweet BBQ
          </p>
        </div>
        <div class="card-body justify-content-center text-align-center bg-black text-white">
          <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
          <span class="p-3 d-flex justify-content-end"> 15,99€</span>
        </div>
      </div>
    </div>

    <div class="card col-4 bg-black">
      <div class="card border-0">
        <img
          src="https://img.freepik.com/fotos-premium/foto-hamburguesa-restaurante_7023-255737.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body justify-content-center text-align-center bg-black text-white">
          <h5 class="card-title d-flex justify-content-center"><strong>BURGERFI BURGER</strong></h5>
          <p class="fs-6 fw-lighter">
            Double Natural Angus Beef, Lettuce, Tomato, BurgerFi Sauce
            *Available as Single Burger, Onion, Jalapeños, Memphis Sauce
          </p>
        </div>
        <div class="card-body justify-content-center text-align-center bg-black text-white">
          <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
          <span class="p-3 d-flex justify-content-end"> 16,25€</span>
        </div>
      </div>  
      </div>

      <div class="card col-4 bg-black">
        <div class="card border-0">
          <img
            src="https://img.freepik.com/fotos-premium/foto-deliciosa-hamburguesa-restaurante-ia-generativa_7023-97066.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <h5 class="card-title d-flex justify-content-center"><strong>BURGERFI CHEESEBURGER</strong></h5>
            <p class="fs-6 fw-lighter">
              Double Natural Angus Beef, Double American Cheese, Lettuce,
              Tomato, BurgerFi Sauce, Fi Sauce, Burgerfi Sauce, Crispy
            </p>
          </div>
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
            <span class="p-3 d-flex justify-content-end"> 16€</span>
          </div>
        </div>
      </div>
    </div>
  
    <!--Segunda fila-->

    <div class="d-flex col-12">
      <div class="card col-4 bg-black">
        <div class="card border-0">
          <img
            src="https://static.vecteezy.com/system/resources/previews/027/810/938/non_2x/realistic-of-hamburger-close-up-foodgraphy-ai-generated-photo.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <h5 class="card-title d-flex justify-content-center"><strong>VEGEFI BURGER</strong></h5>
            <p class="fs-6 fw-lighter burger-text">
              Quinoa + Veggie Blend Burger, American Cheese, Lettuce, Tomato, Fi
              Sauce, Multigrain Bun *VegeFi® patty contains cheese. Fi Sauce
              contains Worcestershire Sauce
            </p>
          </div>
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
            <span class="p-3 d-flex justify-content-end"> 13,25€</span>
          </div>
        </div>
      </div>

      <div class="card col-4 bg-black">
        <div class="card border-0">
          <img
            src="https://img.freepik.com/fotos-premium/hamburguesa-explotando-verduras-fondo-queso-derretido_719403-225.jpg?w=360"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <h5 class="card-title d-flex justify-content-center"><strong>VEGAN BURGER</strong></h5>
            <p class="fs-6 fw-lighter">
              100% Plant-Based Beyond Burger® From Beyond Meat®, Ketchup,
              Mustard, Lettuce, Tomato, Pickles, Onions, on a Vegan Multigrain
              Bun, Onoion, Lettuce
            </p>
          </div>
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
            <span class="p-3 d-flex justify-content-end"> 15,55€</span>
          </div>
        </div>
      </div>


      <div class="card col-4 bg-black">
        <div class="card border-0">
          <img
            src="https://img.freepik.com/fotos-premium/foto-hamburguesa-restaurante_7023-255880.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <h5 class="card-title d-flex justify-content-center"><strong>OVER UNDER BURGER</strong></h5>
            <p class="fs-6 fw-lighter">
              Double Natural Angus Beef, Double American Cheese,Homemade Candied
              Bacon-Tomato Jam, Truffle Aioli, Tomato, Onion, Mustard, BBQ,
              Sauce
            </p>
          </div>
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
            <span class="p-3 d-flex justify-content-end"> 14,25€</span>
          </div>
        </div>
      </div>
    </div>
    <!--Tercera fila-->

    <div class="d-flex col-12">
      <div class="card col-4 bg-black">
        <div class="card border-0">
          <img
            src="https://img.freepik.com/fotos-premium/foto-deliciosa-hamburguesa-restaurante-ia-generativa_7023-98407.jpg?w=2000"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <h5 class="card-title d-flex justify-content-center"><strong>BEYOND BURGER</strong></h5>
            <p class="fs-6 fw-lighter">
              Double Natural Angus Beef, Double American Cheese, Double
              Bacon,Homemade Candied Bacon-Tomato Jam, Truffle Aioli, Garlic, Alioli, Sauce
              
            </p>
          </div>
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
            <span class="p-3 d-flex justify-content-end"> 17,25€</span>
          </div>
        </div>
      </div>
      <div class="card col-4 bg-black">
        <div class="card border-0">
          <img
            src="https://img.freepik.com/fotos-premium/hamburguesa-salsa-salsa-tomate_891977-699.jpg?w=2000"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <h5 class="card-title d-flex justify-content-center"><strong>THE CEO</strong></h5>
            <p class="fs-6 fw-lighter">
              Double Premium Wagyu Blend, Homemade Candied Bacon-Tomato Jam,
              Truffle Aioli, Garlic Aioli, Aged Swiss Cheese, Doble Bacon, Chilly
            </p>
          </div>
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
            <span class="p-3 d-flex justify-content-end"> 15,75€</span>
          </div>
        </div>
      </div>
      <div class="card col-4 bg-black">
        <div class="card border-0">
          <img
            src="https://img.freepik.com/fotos-premium/hamburguesa-salsa-salsa-tomate_891977-699.jpg?w=2000"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <h5 class="card-title d-flex justify-content-center"><strong>THE ULTIMATE BACON</strong></h5>
            <p class="fs-6 fw-lighter">
              Double Premium Wagyu Blend, Homemade Candied Bacon-Tomato Jam,
              Truffle Aioli, Garlic Aioli, Aged Swiss Cheese, Doble Bacon, Chilly
            </p>
          </div>
          <div class="card-body justify-content-center text-align-center bg-black text-white">
            <a href="#" class="card-link d-flex justify-content-center fs-5 btn btn-success">Order</a>
            <span class="p-3 d-flex justify-content-end"> 12,75€</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



