<div class="d-flex justify-content-center p-5">
    <h1 class=" d-flex text-white col-12">
      <img class="col-4" src="/website/designs/logo.png">
      <img class="col-4" src="/website/designs/logo.png">
      <img class="col-4" src="/website/designs/logo.png">
    </h1>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav col-12 ">
          <a class="nav-link active col-4 text-center fs-4 aniNav" aria-current="page" href="#menu">Menu</a>
          <a class="nav-link active col-4 text-center fs-4 aniNav" href="#aboutUs">About Us</a>
          <a class="nav-link active col-4 text-center fs-4 aniNav" href="#contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="fixed-bottom ">
    <div class="col-12 d-flex justify-content-left ">
      <a class=" movimiento1 nav-link active col-1 text-center fs-6 text-white" href="#aboutUs"><i class="bi bi-arrow-up">Beginning!</i></a>
    </div>
  </div>